<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>laps</string>
    <key>CFBundleIdentifier</key>
    <string>ru.fpvladder.laps</string>
    <key>CFBundleName</key>
    <string>Laps</string>
    <key>CFBundleDisplayName</key>
    <string>Laps</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleVersion</key>
    <string>0.1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.15</string>
    <key>LSUIElement</key>
    <false />
    <key>CFBundleIconFile</key>
    <string>icon</string>
    <key>NSHighResolutionCapable</key>
    <true />
    <key>NSRequiresAquaSystemAppearance</key>
    <false />
    <key>NSCameraUsageDescription</key>
    <string>Laps needs camera access for video capture display</string>
</dict>
</plist>
